build/
*.o
*.a
*.so
*.dylib
*.exe
.DS_Store
__pycache__/
*.pyc
.vscode/
.idea/
CMakeCache.txt
CMakeFiles/
*.cmake
compile_commands.json
out/
third_party/gtest.zip
third_party/googletest/
third_party/eigen.zip
third_party/eigen/
